* text=auto

*.gradle        text
*.adoc          text
*.asciidoc      text
*.css           text    eol=lf
*.df            text
*.htm           text
*.html          text
*.java          text
*.properties    text
*.sh            text    eol=lf
*.txt           text
*.xml           text
*.bat           text    eol=crlf

*.class         binary
*.dll           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.so            binary
*.odt           binary

/gradlew        text    eol=lf